.THIS {
}

.THIS .detail-header {
    font-size: 32px; 
    color: white;
    background-color: darkblue;
}

.THIS .detail-sub-header {
    font-size: 24px; 
    color: white;
    background-color: blue;
}

.THIS .detail-header-error {
    font-size: 24px; 
    color: white;
    background-color: red;
}

.THIS .detail-item {
    font-size: 20px; 
    color: black;
}

.THIS .detail-item-error {
    font-size: 20px; 
    color: red;
}

.THIS .detail-link {
    font-size: 16px; 
}